<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This Ashu html page</h1>
        <h6><a href="{% url 'h1' %}">navigate to h1</a></h6>
        <h6><a href="{% url 'h2' %}">Navigate to h2</a></h6>
        <h6><a href="{% url 'app2:nikky' %}">Travel to Nikky</a></h6>

    </center>
</body>
</html>