<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>H1 page</h1>

        <h6><a href="{% url 'h2' %}">Travel to h2 page</a></h6>
        <h6><a href="{% url 'app2:ashu' %}">Navigate to Ashu page</a></h6>
        <h6><a href="{% url 'app2:nikky' %}">navigate to nikky page</a></h6>
    </center>
</body>
</html>